<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Projekte</ion-title>
    <ion-button slot="end" color="warning" routerLink="/contacts"><ion-icon name="book"></ion-icon></ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="selectedProject !== null">
    <ion-button style="text-transform: none;" color="success" (click)="alertCode(selectedProject.code)">Code</ion-button>
    <ion-button style="text-transform: none;" color="danger" (click)="removeProject(selectedProject)">Entfernen</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.globalService.projects === null">
  <ion-spinner name="bubbles" color="primary"></ion-spinner>
</ion-content>
<ion-content *ngIf="this.globalService.projects !== null">
  <ion-list lines="full">
    <ion-item *ngIf="this.globalService.projects.length === 0">
      <ion-text>Noch kein Projekt vorhanden</ion-text>
    </ion-item>
    <ion-item *ngFor="let project of this.globalService.projects" color="{{ this.selectedProject !== null && this.selectedProject.code === project.code ? 'primary' : undefined}}">
      <ion-text>{{project.title}}</ion-text>
      <ion-button slot="end" color="warning" (click)="toggleSelect(project)"><ion-icon name="settings"></ion-icon></ion-button>
      <ion-button slot="end" color="primary" (click)="openProject(project)"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>


    <ion-item-group *ngIf="this.selectedProject !== null">
      <ion-item color="warning" (click)="displayEdit = !displayEdit;">
        <ion-icon name="pencil" slot="start"></ion-icon><ion-text>Projekt bearbeiten</ion-text>
        <ion-icon slot="end" name="caret-down" *ngIf="!displayEdit"></ion-icon>
        <ion-icon slot="end" name="caret-up" *ngIf="displayEdit"></ion-icon>
      </ion-item>
      <ion-item *ngIf="displayEdit">
        <ion-label position="floating">Projektname</ion-label>
        <ion-input [(ngModel)]="this.editProjectService.project.title"></ion-input>
      </ion-item>
      <ion-item *ngIf="displayEdit">
        <ion-label position="floating">Rechnungsvorlage</ion-label>
        <ion-input [(ngModel)]="this.editProjectService.project.invoiceTemplate"></ion-input>
      </ion-item>
      <ion-item *ngIf="displayEdit">
        <ion-label position="floating">Stundenlistenvorlage</ion-label>
        <ion-input [(ngModel)]="this.editProjectService.project.hoursTemplate"></ion-input>
      </ion-item>
      <ion-item *ngIf="displayEdit">
        <ion-label position="floating">Rechnungsabsender</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="this.editProjectService.project.sender" (ionChange)="onSelectContact($event)">
          <ion-select-option *ngFor="let contact of globalService.contacts" value="{{contact.code}}">{{contact.fullname}}</ion-select-option>
          <ion-select-option value="openContacts" color="primary">Kontaktbuch...</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="displayEdit">
        <ion-label position="floating">Rechnungsempfänger</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="this.editProjectService.project.recipient" (ionChange)="onSelectContact($event)">
          <ion-select-option *ngFor="let contact of globalService.contacts" value="{{contact.code}}">{{contact.fullname}}</ion-select-option>
          <ion-select-option value="openContacts" color="primary">Kontaktbuch...</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="displayEdit">
        <ion-label position="floating">Stundensatz</ion-label>
        <ion-input [(ngModel)]="this.editProjectService.project.rate"></ion-input>
      </ion-item>
      <ion-item *ngIf="displayEdit">
        <ion-button style="text-transform: none;" color="warning" (click)="this.editProject();">Speichern</ion-button>
      </ion-item>
    </ion-item-group>


    <ion-item color="success" (click)="displayAdd = !displayAdd;">
      <ion-icon name="add-circle" slot="start"></ion-icon><ion-text>Neues Projekt</ion-text>
      <ion-icon slot="end" name="caret-down" *ngIf="!displayAdd"></ion-icon>
      <ion-icon slot="end" name="caret-up" *ngIf="displayAdd"></ion-icon>
    </ion-item>
    <ion-item *ngIf="displayAdd">
      <ion-label position="floating">Projektname</ion-label>
      <ion-input [(ngModel)]="this.projectService.project.title"></ion-input>
    </ion-item>
    <ion-item *ngIf="displayAdd">
      <ion-label position="floating">Rechnungsvorlage</ion-label>
      <ion-input [(ngModel)]="this.projectService.project.invoiceTemplate"></ion-input>
    </ion-item>
    <ion-item *ngIf="displayAdd">
      <ion-label position="floating">Stundenlistenvorlage</ion-label>
      <ion-input [(ngModel)]="this.projectService.project.hoursTemplate"></ion-input>
    </ion-item>
    <ion-item *ngIf="displayAdd">
      <ion-label position="floating">Rechnungsabsender</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="this.projectService.project.sender" (ionChange)="onSelectContact($event)">
        <ion-select-option *ngFor="let contact of globalService.contacts" value="{{contact.code}}">{{contact.fullname}}</ion-select-option>
        <ion-select-option value="openContacts" color="primary">Kontaktbuch...</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="displayAdd">
      <ion-label position="floating">Rechnungsempfänger</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="this.projectService.project.recipient" (ionChange)="onSelectContact($event)">
        <ion-select-option *ngFor="let contact of globalService.contacts" value="{{contact.code}}">{{contact.fullname}}</ion-select-option>
        <ion-select-option value="openContacts" color="primary">Kontaktbuch...</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="displayAdd">
      <ion-label position="floating">Stundensatz</ion-label>
      <ion-input [(ngModel)]="this.projectService.project.rate"></ion-input>
    </ion-item>
    <ion-item *ngIf="displayAdd">
      <ion-button style="text-transform: none;" color="success" (click)="this.projectService.addProject();">Erstellen</ion-button>
    </ion-item>


    <ion-item color="primary" (click)="displayImport = !displayImport;">
      <ion-icon name="cloud-download" slot="start"></ion-icon><ion-text>Projekt importieren</ion-text>
      <ion-icon slot="end" name="caret-down" *ngIf="!displayImport"></ion-icon>
      <ion-icon slot="end" name="caret-up" *ngIf="displayImport"></ion-icon>
    </ion-item>
    <ion-item *ngIf="displayImport">
      <ion-label position="floating">Projektcode</ion-label>
      <ion-input [(ngModel)]="this.projectService.code"></ion-input>
    </ion-item>
    <ion-item *ngIf="displayImport">
      <ion-button style="text-transform: none;" color="primary" (click)="this.projectService.importProject(this.projectService.code); this.collapseAll()">Importieren</ion-button>
    </ion-item>


  </ion-list>
</ion-content>
