<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Zeiterfassung
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Zeiterfassung</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-console></app-console>

</ion-content>
