<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Zeiterfassung
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="tertiary" size="large">Zeiterfassung</ion-title>
      <ion-button slot="end" routerLink="/recycle" color="warning"><ion-icon name="checkmark"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <ion-item *ngFor="let block of globalService.blocks">
      <ion-text slot="start">{{block.day + '.' + block.month + '.' + block.year}}</ion-text>
      <ion-text>{{block.description}}</ion-text>
      <ion-badge slot="end">{{block.duration}}h</ion-badge>
      <ion-button slot="end" color="warning"><ion-icon name="pencil"></ion-icon></ion-button>
      <ion-button slot="end" color="danger" (click)="delete(block.id)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
    <ion-item *ngIf="globalService.blocks.length === 0">
      <ion-text>Noch keine Zeiten eingetragen!</ion-text>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" routerLink="/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
